*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

    .footer-section{
        background-color: rgb(46, 27, 2);
        padding:3% 0% ;

        .footer-container{
            // width: 30%;
            margin: auto;

            .footer-row{
                text-align: center;
                .footer-para1{
                    color: white;
                    

                    span{
                        font-weight: bold;
                    }
                }
                .footer-para2{
                    color: white;
                    padding: 1% 0%;

                    span{
                        color:rgb(230, 126, 6) ;
                    }
                    span:hover{
                        color:rgb(241, 164, 21)
                    }
                }
            }
        }
    }

}

// responsive

@media(min-width:320px){
    .footer-section{
        .footer-container{
            width: 90%;
        }
    }
}

@media(min-width:660px){
    .footer-section{
        .footer-container{
            width: 50%;
        }
    }
}


@media(min-width:1000px){
    .footer-section{
        .footer-container{
            width: 30%;
        }
    }
}